@media(max-width:480px) {
    #main-header .header-caption h1 {
        font-size: 3em;
    }
    #main-header .header-caption h2 {
        font-size: 2em;
    }
    footer {
        text-align: center;
    }
    #about {
        padding-left: 10px;
        padding-right: 10px;
    }
    #about .col-1-2 {
        padding-left: 20px;
        padding-right: 20px;
    }
    #portfolio {
        padding-left: 0;
        padding-right: 0;
    }
    footer {
        padding-left: 0;
    }
    footer p {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
    #skills .container .skills-icons figure{
        width: 100%;
    }
}
@media(min-width:481px) && (max-width:768px) {
    #skills .container .skills-icons figure{
        width: 49%;
    }
}
@media(max-width:768px) {
    /* Main menu responsive */
   
    /* gdy checkbox Menu ma watość "checked", to element znajdujący się w jego bezpośrednim sąsiedztwie zmienia display z "none" na "block" */
    /* Main menu responsive stop */
    /* About */
    /* About stop */
    /* Portfolio */
    #portfolio {
        padding-left: 0;
        padding-right: 0;
    }
    #portfolio .portfolio-item {
        width: 100%;
    }
    /* Portfolio stop */
   
    #skills .container .skills-icons figure{
        width: 50%;
    }
}

@media(min-width:769px){
    #skills .container .skills-icons figure{
        padding: 30px;
    }
}

@media(max-width:1000px) {
    #contact h2 {
        text-align: center;
    }
    #contact .row {
    text-align: center;
}
}
 